{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
       <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
    
        <table class="table text-center" >
            <tr>
            {% for trailer in trailers %}
                    <td>
                        <div class="wrap" style="display: table-caption;">    
                            <div>
                                <img src="{{ trailer.link }}/images/poster.jpg">
                                
                            </div>
                            <div>
							{{ app.request.attributes.get('_route') }}
                                <a href = "movie/{{ trailer.id }}"> {{ trailer.title }}</a>
                            </div>
                        </div>
                    </td>
                    
                {% if loop.index == 5 %}</tr><tr>{% endif %}

            {% endfor %}
            </tr>
        </table>
        <div>   
           <h6>Class::method: {{ method }}</h6>
           <h6>Date-time: {{ date_time }}</h6>
            
        </div>
    </div>
    
{% endblock %}
