{% extends 'main.html.twig' %}

{% block title %}{{ movie.title }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="md-5">
                <div class="card mt-3 flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body">
                        <img class="m-2" src="{{ movie.link }}/images/poster.jpg">
                    </div>
                    <div class="card-body">
                        <h3>
                        
                            {{ movie.title }}
                        
                        </h3>
                        
                        <p class="card-text mb-auto">
                        
                            {{ movie.description|e }}
                        
                        </p>
                        <p class="mt-2">
                            Source - <a href="{{ movie.link }}">{{ movie.link }}</a>
                        </p>
                        <a class="btn mt-2 mb-2 btn-secondary btn-sm active" role="button" aria-pressed="true" href="/">Вернуться к списку</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
    
   
{% endblock %}
